# App Configuration
APP_NAME=NodeShare
NODE_ENV=development
PEER_NAME=MyDevice
UDP_PORT=41234
UDP_BROADCAST_ADDR=255.255.255.255
SERVER_PORT=4000
SOCKET_PORT=5000
DOWNLOAD_DIR=downloads
SHARED_FILES_DIR=uploads



# MONGO_URI=mongodb://127.0.0.1:27017/sockit-2
# APP_NAME=NodeShare
# NODE_ENV=development
# PEER_NAME=LAPTOP
# UDP_PORT=41234
# UDP_BROADCAST_ADDR=255.255.255.255
# SERVER_PORT=4002
# SOCKET_PORT=5002
# DOWNLOAD_DIR=downloads
# SHARED_FILES_DIR=uploads